<div class="container">
    <br>
    <div class="panel panel-primary">
      	<div class="panel-heading">TODOS</div>
	    <table class="table table-bordered">
	    	<thead>
	    		<th>ID</th>
	    		<th>Name</th>
          <th>Date</th>
	    		<th>#</th>
	    	</thead>
	    	<tbody>
	    		<tr ng-repeat="todo in todos">
	    			<td>{{todo.id}}</td>
            <td>{{todo.name}}</td>
	    			<td>{{todo.created_at | date:'MMMM dd, yyyy'}}</td>
	    			<td>
	    				<button class="btn btn-danger btn-sm" ng-click="delete_task( $index, todo.id  )">DELETE</button>
	    				<button class="btn btn-primary btn-sm" ng-click="edit_task( $index )">EDIT</button>
	    			</td>
	    		</tr>
	    	</tbody>
	    </table>  
    </div> 

    <div class="panel panel-primary">
      <div class="panel-heading">ADD TASK</div>
      <div class="panel-body">
          <form ng-submit="add_task( task )">
          	<div class="form-group">
          		<input type="text" class="form-control" ng-model="task.name"/>
          	</div>
          	<div class="form-group">
          		<button class="btn btn-primary" ng-if="add_mode">ADD</button>
          		
          	</div>
          </form>
          <button class="btn btn-primary" ng-click="update_task( task )" ng-if="!add_mode">UPDATE</button>
      </div>
    </div> 

  
</div>
